<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Bodega uses your location to find bodegas near you.</string>
	<key>BODEGA_API_BASE_URL</key>
	<string>https://bodega-gateway-2q60deae.ue.gateway.dev</string>
	<key>BODEGA_API_KEY</key>
	<string>AIzaSyA31lUH4vxxewg7Jgoj8kZS9wJ0p9O0NKs</string>
</dict>
</plist>
